@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&family=Saira:wght@300;400;500;600;700&display=swap');
$widget_bg: #e0e6e8;
$widget_text: #2b3a42;
$widget_shadow_color: #19191a;
$widget_date_bg: #2273a8;
$widget_date_text: #e0e6e8;
$widget_shadow: 0 2px 3px rgba($widget_shadow_color, .3);
$widget_font_size: 16px;
$widget_font_face: 'Saira', sans-serif;
$widget_font_face_condensed: 'Saira Extra Condensed', sans-serif;
$widget_border_radius: .5em;
